@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Heebo', sans-serif;
}

.heading {
  font-family: 'Rubik Moonrocks', cursive;
}

.home-button {
  color: #38bdf8;
}

.movieWrapper {
  transition: .5s;
}

.movieWrapper:hover {
  transform: scale(1.05);
}
